@import "bootstrap";

$white: #ffffff;

$theme-colors: (
  "light":      #2d0a71,
  "dark":       #ffd330,
  "primary":    #a4894b,
  "secondary":  #5d754e,
  "info":       #c53068,
  "success":    #4fa626,
  "warning":    #fdc14d,
  "danger":     #f0155d,
);

$generate-colours: (
  "background":   #0F7170,
  "background-dark": #006867,
  "background-darker": #0c4d4d,
  "accent":   #FFB400,
  "text":   #FFE5B8,
  "text-dark": #dac49e,
  "kb_bg": #0F7170,
  "kb_btn": #006867,
  "kb_text": #FFB400
);

$default-colours: (
  "background":   #FEECCC,
  "background-dark": #FFE5B8,
  "background-darker": #bdaa89,
  "accent":   #AD1E23,
  "text":  #006867,
  "text-dark": #004948,
  "kb_bg": #FEECCC,
  "kb_btn": #FFE5B8,
  "kb_text": #AD1E23
);
