@import "bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.fake-button:hover {
  background: #dcdee1;
  cursor: pointer;
}

.fake-button-card:hover {
  background: #f8f8f8;
  cursor: pointer;
}

.nav-link {
  color: #808080 !important;
}

body {
  background: lightgray;
  font-family: 'oblik-bold', sans-serif;
}

.custom-nav {
  background: lightgray !important;

}

.no-border > .card {
  border: none;
  background: lightgray !important;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
