@import "bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.fake-button:hover {
  background: #dcdee1;
  cursor: pointer;
}

.fake-button-card:hover {
  background: #f8f8f8;
  cursor: pointer;
}

.nav-link {
  color: #808080 !important;
}

body {
  background: lightgray;
  font-family: 'oblik-bold', sans-serif;
}

.custom-nav {
  background: lightgray !important;

}

.no-border > .card {
  border: none;
  background: lightgray !important;
}
